.DS_Store
node_modules
npm*.log
notes.md
upload.txt
compile.js
bt.js
blue.ino
build.prefs.json
dist
sketches
exploration
.jbauto
lib/support/compiled/preproc
lib/support/compiled/core
lib/support/compiled/sketch
lib/support/compiled/libraries
lib/support/compiled/includes.cache
lib/support/compiled/build.options.json